.email {
  width: 100%;
  max-width: 311px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 28px;
  padding: 11px 0 10px 24px;
  margin: 0 33px 0 31px;
  border: 1px solid var(--desaturated-red-50);
  cursor: text;

  &__error {
    border: 2px solid var(--soft-red);

    &-icon {
      width: 24px;
      height: 24px;
    }

    &-message {
        margin: 8px auto 0 56px;
        font-size: 13px;
        color: var(--soft-red);
      }
  }

  &__input {
    border: none;
    outline: none;
    font-size: 14px;
    color: var(--dark-grayish-red);
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::placeholder {
      font-size: 14px;
      line-height: 28px;
      font-weight: 400;
      color: var(--desaturated-red-50);
      user-select: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 9999s ease-in-out 0s;
      -webkit-text-fill-color: var(--dark-grayish-red);
      box-shadow: 0 0 0 1000px #fff7f7 inset;
      caret-color: var(--dark-grayish-red);
    }

    &-error {
      color: var(--soft-red);
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-text-fill-color: var(--soft-red) !important;
        box-shadow: 0 0 0 1000px #fff7f7 inset !important;
        caret-color: var(--soft-red);
      }
    }
  }

  &__button {
    position: relative;
    border: none;
    outline: none;
    background: var(--gradient-2);
    border-radius: 28px;
    width: 64px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 15px 20px 0px rgba(197, 109, 109, 0.2476);
    right: -3px;
    user-select: none;

    img {
      width: 8.84px;
      height: 17.67px;
    }

    &:hover {
      background: var(--hover-color);
    }
  }

  @media screen and (min-width: 1440px) {
    width: 445px;
    max-width: none;
    height: 56px;
    margin: 0;

    &__input {
      font-size: 16px;

      &::placeholder {
        font-size: 16px;
        line-height: 28px;
      }
    }

    &__error {

    &-icon {
      position: relative;
      right: -38px;
    }

    &-message {
        margin: 4px 0 0 32px;
        font-size: 13px;
        color: var(--soft-red);
      }
  }

    &__button {
      width: 100px;
      height: 56px;

      img {
        width: 8.84px;
        height: 17.67px;
      }
    }

  }
}
