.swal2-popup.swal2-toast.swal2-icon-success {
  background-color: #28a745 !important;
  color: white;
}

.swal2-popup.swal2-toast.swal2-icon-error {
  background-color: #ff5465 !important;
  color: white;
}

.swal2-icon.swal2-success .swal2-success-line-tip,
.swal2-icon.swal2-success .swal2-success-line-long {
  background-color: white !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
  border: 4px solid white !important;
}

.swal2-icon.swal2-error .swal2-x-mark-line-left,
.swal2-icon.swal2-error .swal2-x-mark-line-right {
  background-color: white !important;
}

.swal2-icon.swal2-error {
  border: 4px solid white !important;
}
